/* CSS declarations go here */

#welcome_header{
	margin-left: 2em;
	opacity: 0.8;
	clear: both;
}

#admin_welcome{
	margin-left: 2.6em;
	margin-top: 0.5em;
	opacity: 0.9;
}

.login-buttons-dropdown-align-{
	float: left;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#admin_button{
	margin-top: 0.3em;
	margin-left: 0.5em;
}

#users_list{
	margin-left: 4em;
	margin-top: 2em;
}

.single_user{
	margin-bottom: 0.5em;
	text-align: left;
}

.user_email_style{
	text-decoration: underline;
}

.user_attributes{
	margin-bottom: 0.4em;
}

.save_admin_status{
	width: 4em;
	height: 1.5em;
	line-height: 50%;
}

.admin_group{
	display: none;
	margin-left: 1em;
}

#admin_status{
	float: left;
}

.set_admin_status, .set_vendor_status,
.set_dispo_status, .admin_button{
	width: 11.2em;
	height: 1.5em;
	line-height: 50%;
	margin-left: 1em;
	text-align: left;
}

.empty{
	height: 10px;
	width: 100px;
}

.edit_user_button{
	height: 1.5em;
	width: 2em;
	line-height: 50%;
}

.user_input{
	width: 10em;
	height: 2em;
}

.submit_button{
	width: 6em;
	height: 1.5em;
	line-height: 50%;
}

.edit_fields{
	display: none;
}

/*~~~~~~~~~~MARYBAKED~~~~~~~~~~*/

h2{
	opacity: 0.9;
}

body{
	background-color: #93D5A3;
}

a, h1, h2, ul {
	color: white !important;
}

h1, h2, h3, h4 {
   color: white;
  text-shadow:
   -1px -1px 0 #d3d3d3,  
    1px -1px 0 #d3d3d3,
    -1px 1px 0 #d3d3d3,
     1px 1px 0 #d3d3d3;
}

#admin_welcome{
	margin-left: 4em;
}

.dispo_entries, .vendor_entries{
	font-size: 18px;
}

#top_bar{
	padding-bottom: 2em;
	background: -webkit-linear-gradient(#696969, #93D5A3); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#696969, #93D5A3); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#696969, #93D5A3); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#696969, #93D5A3); /* Standard syntax */
}

.vendor_entries{
	margin-bottom: 0.5em;
}

#users_list{
	line-height: 115%;
	letter-spacing: 2px;
	font-size: 16px;
	margin-left: 6em;
}

.single_user{
	margin-top: 2em;
}

.single_user span{
	font-size: 20px;
	font-weight: bold;
}

.user_attributes b{
	text-decoration: underline;
}

#all_users_in_db{
	margin-bottom: 1em;
	margin-left: -1em;
}